.education__container{
    padding-top: 2rem;
}

.education__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.education__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.education__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.education__icon{
    padding-top: 1rem;
    color: var(--color-primary);
    font-size: 3rem;
    /* margin-bottom: 1rem; */
}

.education__card h5{
    font-size: 0.95rem;
}

.education__card small{
    font-size: 0.7rem;
    color: var(--colo-light);
}

/* ===============Media Query(medium)========== */
@media screen and (max-width: 1024px) {
    .education__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
}

/* ===============Media Query(small)========== */
@media screen and (max-width: 600px) {

    .education__cards{
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0 2rem;
    }
}

